/* Estilo para o corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe4e1; /* Fundo rosa claro */
}

/* Estilo do cabeçalho */
header {
    background: #ff69b4; /* Rosa forte */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo dos botões */
button {
    background-color: #ff69b4; /* Rosa forte */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 100%; /* Faz com que os botões ocupem toda a largura disponível */
}

button:hover {
    background-color: #ff1493; /* Rosa escuro */
}

/* Estilo das mensagens */
#mensagem {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Estilo para o quiz */
#quiz {
    margin: 20px;
    padding: 10px;
    background-color: white; /* Fundo branco para destacar o quiz */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para as perguntas do quiz */
#perguntas-quiz p {
    font-size: 1.1em; /* Tamanho da fonte para perguntas */
    margin-bottom: 10px; /* Espaço entre perguntas */
}

/* Botões do quiz */
#perguntas-quiz button {
    display: block;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
}

/* Estilo para a galeria de fotos */
.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.galeria-fotos img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.galeria-fotos img:hover {
    transform: scale(1.1);
}

/* Resultado do quiz */
#resultado-quiz {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff69b4; /* Cor rosa para o resultado */
}

/* Estilo da mensagem final */
#mensagem-final {
    display: none;
    font-size: 1.5em;
    color: #ff69b4; /* Rosa forte */
    text-align: center;
    margin-top: 20px;
}
